<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.seungwon.openglestriangle">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".gles30.triangle.TriangleActivity"></activity>
        <activity android:name=".gles30.Gles30StarterActivity" />
        <activity android:name=".StarterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gles20.blur.rect.glsl.GlslRectBlurActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" />
        <activity android:name=".gles20.blur.rect.BlurScaledActivity" />
        <activity android:name=".gles20.blur.stackblur.StackBlurActivity" />
        <activity android:name=".gles20.blur.rect.BlurMappingActivity" />
        <activity android:name=".gles20.mosaic.rect.MosaicRectActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".gles20.mosaic.MosaicActivity" />
        <activity android:name=".gles20.blur.rect.BlurRectActivity" />
        <activity android:name=".gles20.blur.framebuffer.Blur2Activity" />
        <activity android:name=".gles20.blur.BlurActivity" />
        <activity android:name=".gles20.framebuffer.FrameBufferRendererActivity" />
        <activity android:name=".gles20.multiTxt.MultiTxtActivity" />
        <activity android:name=".gles20.filter.emboss.EmbossActivity" />
        <activity android:name=".gles20.filter.FilterActivity" />
        <activity android:name=".gles20.projection.ProjectionActivity" />
        <activity android:name=".gles20.projection.translation.StripActivity" />
        <activity android:name=".gles20.triangle.MainActivity" />
        <activity android:name=".gles20.Gles20StarterActivity" />
        <activity
            android:name=".gles20.translation.SquareActivity"
            android:label="@string/title_activity_square"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".gles20.text.TextureActivity" />
    </application>

</manifest>